rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Acesso administrativo exclusivo ao UID do proprietário do sistema.
    match /appData/current {
      allow read, write: if request.auth != null
        && (request.auth.uid == 'RutTVgdXfjdGrFFnbaYmpOO2nJi1'
          || request.auth.uid == 'xptgdFErpMV5Ekxa3CRX2SBrdcy1'
          || request.auth.uid == 'jmJvH0W7uwdCMlUeyJSWnC4Hd103'
          || request.auth.uid == '45AaXndEroRoLYEf1SDFMYBLXZw2');
    }
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
